body {
  text-align: center;
  background-color: #2b2b28;
}

button {
  margin: 20px;
  border: 0px;
  padding: 20px;
  font-size: 20px;
  border-radius: 150px;
  background-color: #ebebe3;
  color: #4a4a48;
}

button:hover {
  background-color: #c19898;
  color: #ebebe3;
}

#result {
  font-size: 20px;
  color: #ebebe3;
}
